# MongoDB with PyMongo

LSDS Unit 3 Sprint 2 Module 3


This notebook is to explore/understand MongoDB with Python. Notebooks and REPLs can be great for exploration, but for your assignment you should still turn in .py files.

Some resources:

https://docs.atlas.mongodb.com/getting-started/

https://api.mongodb.com/python/current/

HN Discussion on MongoDB versus PostgreSQL/SQLite: https://news.ycombinator.com/item?id=19158854

In [1]:
!curl ipecho.net/plain

35.245.9.226

In [2]:
!python --version

Python 3.8.10

In [3]:
!pip install pymongo

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pymongo in /usr/local/lib/python3.8/dist-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.8/dist-packages (from pymongo) (2.2.1)

In [4]:
import pymongo
import pandas as pd

In [5]:
client = pymongo.MongoClient("mongodb+srv://Shalvi-Saxena:iNEy9iChX5L8LHn@conuhacks.eqaurku.mongodb.net/?retryWrites=true&w=majority")
db = client.conuhack

# Should work if you also pip install dnspython

In [6]:
db

Database(MongoClient(host=['ac-ej1x54d-shard-00-02.eqaurku.mongodb.net:27017', 'ac-ej1x54d-shard-00-01.eqaurku.mongodb.net:27017', 'ac-ej1x54d-shard-00-00.eqaurku.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-vch0uw-shard-0', tls=True), 'conuhack')

In [7]:
db.list_collection_names()

['user_list',
 'user_transactions',
 'user_recommendations',
 'user_category_list',
 'category_list']

In [8]:

user_transactions_collection = db.user_transactions
user_transactions = pd.DataFrame(list(user_transactions_collection.find()))

In [9]:
#user_transactions.to_csv('datset.csv')

In [10]:
#import datetime

In [11]:
dates = ['2023-01-01T00:00:00Z',
     '2023-01-01T00:00:00Z',
     '2023-01-02T00:00:00Z',
     '2023-01-02T00:00:00Z',
     '2023-01-02T00:00:00Z',
     '2023-01-04T00:00:00Z',
     '2023-01-04T00:00:00Z',
     '2023-01-04T00:00:00Z',
     '2023-01-04T00:00:00Z',
     '2023-01-06T00:00:00Z',
     '2023-01-06T00:00:00Z',
     '2023-01-07T00:00:00Z',
     '2023-01-07T00:00:00Z',
     '2023-01-07T00:00:00Z',
     '2023-01-09T00:00:00Z',
     '2023-01-10T00:00:00Z',
     '2023-01-11T00:00:00Z',
     '2023-01-11T00:00:00Z',
     '2023-01-12T00:00:00Z',
     '2023-01-12T00:00:00Z',
     '2023-01-12T00:00:00Z',
     '2023-01-14T00:00:00Z',
     '2023-01-14T00:00:00Z',
     '2023-01-16T00:00:00Z',
     '2023-01-16T00:00:00Z',
     '2023-01-17T00:00:00Z',
     '2023-01-17T00:00:00Z',
     '2023-01-17T00:00:00Z',
     '2023-01-19T00:00:00Z',
     '2023-01-20T00:00:00Z',
     '2023-01-21T00:00:00Z',
    ]

In [12]:
'''dataset = []
for i in dates:
  print(i)
  category = input("Category")
  currency = "CAD"
  expense = "expense"
  note = input("note")
  amount = input("amount")
  dataset.append(['',category,amount,i,type,currency,'',note,''])
'''

'dataset = []\nfor i in dates:\n  print(i)\n  category = input("Category")\n  currency = "CAD"\n  expense = "expense"\n  note = input("note")\n  amount = input("amount")\n  dataset.append([\'\',category,amount,i,type,currency,\'\',note,\'\'])\n'

In [13]:
user_transactions

,_id,user_id,category_id,amount,created_at,type,currency,image,note,location
0,63ccbd89ae3e5a2f6f52ef3a,63cc5580bcf3d54f64dec4a5,63cc6391bcf3d54f64dec4a8,56.5,2023-01-03T22:46:11.354Z,expense,CAD,,OPUS,
1,63ccbe50ae3e5a2f6f52ef3b,63cc5580bcf3d54f64dec4a5,63cc6340bcf3d54f64dec4a7,3.25,2023-01-02T22:46:11.354Z,expense,CAD,,Tim Hortons,
2,63ccbeb6ae3e5a2f6f52ef3c,63cc5580bcf3d54f64dec4a5,63cc6407bcf3d54f64dec4ab,14.2,2023-01-01T22:46:11.354Z,expense,CAD,,Multi Vitamins,
3,63ccbf81ae3e5a2f6f52ef3d,63cc5580bcf3d54f64dec4a5,63cc6340bcf3d54f64dec4a7,50,2023-01-05T22:46:11.354Z,expense,CAD,,Burgundy Lion,
4,63ccc304ae3e5a2f6f52ef3e,63cc5580bcf3d54f64dec4a5,63cc4501bcf3d54f64dec48d,28.8,2023-01-06T22:46:11.354Z,expense,CAD,,Walmart,
5,63ccc304ae3e5a2f6f52ef3f,63cc5580bcf3d54f64dec4a5,63cc6340bcf3d54f64dec4a7,70,2023-01-07T22:46:11.354Z,expense,CAD,,Ice Hotel,
6,63ccc304ae3e5a2f6f52ef40,63cc5580bcf3d54f64dec4a5,63cc639bbcf3d54f64dec4a9,35,2023-01-09T22:46:11.354Z,expense,CAD,,Fido Bill,
7,63ccc304ae3e5a2f6f52ef41,63cc5580bcf3d54f64dec4a5,63cc639bbcf3d54f64dec4a9,70,2023-01-11T22:46:11.354000,expense,CAD,,Bell Wifi,
8,63ccc304ae3e5a2f6f52ef42,63cc5580bcf3d54f64dec4a5,63cc6436bcf3d54f64dec4ad,20,2023-01-09T22:46:11.354Z,expense,CAD,,Flowers,
9,63ccc304ae3e5a2f6f52ef43,63cc5580bcf3d54f64dec4a5,63cc6419bcf3d54f64dec4ac,50.6,2023-01-13T22:46:11.354Z,expense,CAD,,Hudson Bay,
10,63ccc304ae3e5a2f6f52ef44,63cc5580bcf3d54f64dec4a5,63cc4501bcf3d54f64dec48d,80,2023-01-12T22:46:11.354Z,expense,CAD,,Provigo,
11,63ccc502ae3e5a2f6f52ef48,63cc5580bcf3d54f64dec4a5,63cc6391bcf3d54f64dec4a8,30,2023-01-09T22:46:11.354Z,expense,CAD,,Flight,
12,63ccc502ae3e5a2f6f52ef49,63cc5580bcf3d54f64dec4a5,63cc63f8bcf3d54f64dec4aa,15,2023-01-08T22:46:11.354Z,expense,CAD,,Netflix!,
13,63ccc502ae3e5a2f6f52ef4a,63cc5580bcf3d54f64dec4a5,63cc6419bcf3d54f64dec4ac,80,2023-01-22T22:46:11.354Z,expense,CAD,,Nike,
14,63ccc502ae3e5a2f6f52ef4b,63cc5580bcf3d54f64dec4a5,63cc6340bcf3d54f64dec4a7,3.23,2023-01-11T22:46:11.354Z,expense,CAD,,Tim Hortons,
15,63ccc502ae3e5a2f6f52ef4c,63cc5580bcf3d54f64dec4a5,63cc63f8bcf3d54f64dec4aa,8.25,2023-01-09T22:46:11.354Z,expense,CAD,,Youtube Music,
16,63ccc502ae3e5a2f6f52ef4d,63cc5580bcf3d54f64dec4a5,63cc6407bcf3d54f64dec4ab,14,2023-01-13T22:46:11.354Z,expense,CAD,,Pharmaprix,
17,63ccc502ae3e5a2f6f52ef4e,63cc5580bcf3d54f64dec4a5,63cc6340bcf3d54f64dec4a7,35,2023-01-17T22:46:11.354Z,expense,CAD,,SAQ,
18,63cd1fde931f2b080b64a956,63cc5580bcf3d54f64dec4a5,63cc6340bcf3d54f64dec4a7,8.4,2023-01-01T00:00:00Z,expense,CAD,,Beers,
19,63cd1fde931f2b080b64a957,63cc5580bcf3d54f64dec4a5,63cc6391bcf3d54f64dec4a8,11.4,2023-01-01T00:00:00Z,expense,CAD,,Uber,
20,63cd1fde931f2b080b64a958,63cc5580bcf3d54f64dec4a5,63cc4501bcf3d54f64dec48d,4.8,2023-01-02T22:46:11.354Z,expense,CAD,,Bread,
21,63cd1fde931f2b080b64a959,63cc5580bcf3d54f64dec4a5,63cc63f8bcf3d54f64dec4aa,35,2023-01-02T22:46:11.354Z,expense,CAD,,Netflix,
22,63cd1fde931f2b080b64a95a,63cc5580bcf3d54f64dec4a5,63cc639bbcf3d54f64dec4a9,400,2023-01-02T22:46:11.354Z,expense,CAD,,Rent,
23,63cd1fde931f2b080b64a95b,63cc5580bcf3d54f64dec4a5,63cc6391bcf3d54f64dec4a8,56,2023-01-04T22:46:11.354Z,expense,CAD,,OPUS,
24,63cd1fde931f2b080b64a95c,63cc5580bcf3d54f64dec4a5,63cc6407bcf3d54f64dec4ab,12,2023-01-03T22:46:11.354Z,expense,CAD,,Medicines,
25,63cd1fde931f2b080b64a95d,63cc5580bcf3d54f64dec4a5,63cc6340bcf3d54f64dec4a7,57,2023-01-14T22:46:11.354Z,expense,CAD,,Whisky,
26,63cd1fde931f2b080b64a95e,63cc5580bcf3d54f64dec4a5,63cc6340bcf3d54f64dec4a7,3,2023-01-22T22:46:11.354Z,expense,CAD,,Tim Hortons,
27,63cd1fde931f2b080b64a95f,63cc5580bcf3d54f64dec4a5,63cc6340bcf3d54f64dec4a7,4.6,2023-01-06T22:46:11.354Z,expense,CAD,,TIm Hortans,
28,63cd1fde931f2b080b64a960,63cc5580bcf3d54f64dec4a5,63cc6391bcf3d54f64dec4a8,23,2023-01-06T22:46:11.354Z,expense,CAD,,Uber,
29,63cd1fde931f2b080b64a961,63cc5580bcf3d54f64dec4a5,63cc4501bcf3d54f64dec48d,4,2023-01-07T22:46:11.354Z,expense,CAD,,Snacks,
30,63cd1fde931f2b080b64a962,63cc5580bcf3d54f64dec4a5,63cc4501bcf3d54f64dec48d,4.2,2023-01-07T22:46:11.354Z,expense,CAD,,Eggs,
31,63cd1fde931f2b080b64a963,63cc5580bcf3d54f64dec4a5,63cc6340bcf3d54f64dec4a7,2.3,2023-01-07T22:46:11.354Z,expense,CAD,,Tim Hortans,
32,63cd1fde931f2b080b64a964,63cc5580bcf3d54f64dec4a5,63cc6340bcf3d54f64dec4a7,6.3,2023-01-09T22:46:11.354Z,expense,CAD,,Subway,
33,63cd1fde931f2b080b64a965,63cc5580bcf3d54f64dec4a5,\t63cc6407bcf3d54f64dec4ab,16,2023-01-10T22:46:11.354Z,expense,CAD,,Vitamins,
34,63cd1fde931f2b080b64a966,63cc5580bcf3d54f64dec4a5,63cc639bbcf3d54f64dec4a9,34,2023-01-11T22:46:11.354Z,expense,CAD,,Chairs,
35,63cd1fde931f2b080b64a967,63cc5580bcf3d54f64dec4a5,63cc6340bcf3d54f64dec4a7,6.3,2023-01-11T22:46:11.354Z,expense,CAD,,Tim Hortans,
36,63cd1fde931f2b080b64a968,63cc5580bcf3d54f64dec4a5,63cc6340bcf3d54f64dec4a7,4.3,2023-01-12T22:46:11.354Z,expense,CAD,,Pizza,
37,63cd1fde931f2b080b64a969,63cc5580bcf3d54f64dec4a5,63cc6340bcf3d54f64dec4a7,36,2023-01-12T22:46:11.354Z,expense,CAD,,Restaurant,
38,63cd1fde931f2b080b64a96a,63cc5580bcf3d54f64dec4a5,63cc4501bcf3d54f64dec48d,2.7,2023-01-12T22:46:11.354Z,expense,CAD,,Milk,
39,63cd1fde931f2b080b64a96b,63cc5580bcf3d54f64dec4a5,63cc4501bcf3d54f64dec48d,24,2023-01-14T22:46:11.354Z,expense,CAD,,Bathroom Cleaner,
40,63cd1fde931f2b080b64a96c,63cc5580bcf3d54f64dec4a5,63cc6340bcf3d54f64dec4a7,3.5,2023-01-14T00:00:00Z,expense,CAD,,Tim Hortans,
41,63cd1fde931f2b080b64a96d,63cc5580bcf3d54f64dec4a5,63cc6340bcf3d54f64dec4a7,3.7,2023-01-16T00:00:00Z,expense,CAD,,Pizza,
42,63cd1fde931f2b080b64a96e,63cc5580bcf3d54f64dec4a5,63cc6340bcf3d54f64dec4a7,10,2023-01-16T00:00:00Z,expense,CAD,,Ice Skating,
43,63cd1fde931f2b080b64a96f,63cc5580bcf3d54f64dec4a5,63cc6391bcf3d54f64dec4a8,19,2023-01-17T00:00:00Z,expense,CAD,,Uber,
44,63cd1fde931f2b080b64a970,63cc5580bcf3d54f64dec4a5,63cc63f8bcf3d54f64dec4aa,56,2023-01-17T00:00:00Z,expense,CAD,,Hotstar,
45,63cd1fde931f2b080b64a971,63cc5580bcf3d54f64dec4a5,63cc639bbcf3d54f64dec4a9,34,2023-01-17T00:00:00Z,expense,CAD,,Hydro,
46,63cd1fde931f2b080b64a972,63cc5580bcf3d54f64dec4a5,63cc6340bcf3d54f64dec4a7,3.9,2023-01-19T00:00:00Z,expense,CAD,,Tim Hortans,
47,63cd1fde931f2b080b64a973,63cc5580bcf3d54f64dec4a5,63cc6340bcf3d54f64dec4a7,4.1,2023-01-20T00:00:00Z,expense,CAD,,Tim Hortans,
48,63cd1fde931f2b080b64a974,63cc5580bcf3d54f64dec4a5,63cc6340bcf3d54f64dec4a7,2.9,2023-01-21T00:00:00Z,expense,CAD,,Tim Hortans,

In [14]:
df = user_transactions

In [15]:
df.head()

,_id,user_id,category_id,amount,created_at,type,currency,image,note,location
0,63ccbd89ae3e5a2f6f52ef3a,63cc5580bcf3d54f64dec4a5,63cc6391bcf3d54f64dec4a8,56.5,2023-01-03T22:46:11.354Z,expense,CAD,,OPUS,
1,63ccbe50ae3e5a2f6f52ef3b,63cc5580bcf3d54f64dec4a5,63cc6340bcf3d54f64dec4a7,3.25,2023-01-02T22:46:11.354Z,expense,CAD,,Tim Hortons,
2,63ccbeb6ae3e5a2f6f52ef3c,63cc5580bcf3d54f64dec4a5,63cc6407bcf3d54f64dec4ab,14.2,2023-01-01T22:46:11.354Z,expense,CAD,,Multi Vitamins,
3,63ccbf81ae3e5a2f6f52ef3d,63cc5580bcf3d54f64dec4a5,63cc6340bcf3d54f64dec4a7,50,2023-01-05T22:46:11.354Z,expense,CAD,,Burgundy Lion,
4,63ccc304ae3e5a2f6f52ef3e,63cc5580bcf3d54f64dec4a5,63cc4501bcf3d54f64dec48d,28.8,2023-01-06T22:46:11.354Z,expense,CAD,,Walmart,

In [16]:
import datetime

In [17]:
def clean_ts(ts):
  
  print(ts)
  #print(ts.split("T")[0].split('-'))
  [y,m,d] = ts.split("T")[0].split('-')
  x = datetime.datetime(int(y), int(m), int(d))
  return x

In [18]:
#df['ts'] = df.apply(lambda x: clean_ts(df['timestamp']), axis=1)
df['ts'] = df['created_at'].apply(clean_ts)

2023-01-03T22:46:11.354Z
2023-01-02T22:46:11.354Z
2023-01-01T22:46:11.354Z
2023-01-05T22:46:11.354Z
2023-01-06T22:46:11.354Z
2023-01-07T22:46:11.354Z
2023-01-09T22:46:11.354Z
2023-01-11T22:46:11.354000
2023-01-09T22:46:11.354Z
2023-01-13T22:46:11.354Z
2023-01-12T22:46:11.354Z
2023-01-09T22:46:11.354Z
2023-01-08T22:46:11.354Z
2023-01-22T22:46:11.354Z
2023-01-11T22:46:11.354Z
2023-01-09T22:46:11.354Z
2023-01-13T22:46:11.354Z
2023-01-17T22:46:11.354Z
2023-01-01T00:00:00Z
2023-01-01T00:00:00Z
2023-01-02T22:46:11.354Z
2023-01-02T22:46:11.354Z
2023-01-02T22:46:11.354Z
2023-01-04T22:46:11.354Z
2023-01-03T22:46:11.354Z
2023-01-14T22:46:11.354Z
2023-01-22T22:46:11.354Z
2023-01-06T22:46:11.354Z
2023-01-06T22:46:11.354Z
2023-01-07T22:46:11.354Z
2023-01-07T22:46:11.354Z
2023-01-07T22:46:11.354Z
2023-01-09T22:46:11.354Z
2023-01-10T22:46:11.354Z
2023-01-11T22:46:11.354Z
2023-01-11T22:46:11.354Z
2023-01-12T22:46:11.354Z
2023-01-12T22:46:11.354Z
2023-01-12T22:46:11.354Z
2023-01-14T22:46:11.354Z
2023-01-14T00:00:00Z
2023-01-16T00:00:00Z
2023-01-16T00:00:00Z
2023-01-17T00:00:00Z
2023-01-17T00:00:00Z
2023-01-17T00:00:00Z
2023-01-19T00:00:00Z
2023-01-20T00:00:00Z
2023-01-21T00:00:00Z

In [19]:
df.head()

,_id,user_id,category_id,amount,created_at,type,currency,image,note,location,ts
0,63ccbd89ae3e5a2f6f52ef3a,63cc5580bcf3d54f64dec4a5,63cc6391bcf3d54f64dec4a8,56.5,2023-01-03T22:46:11.354Z,expense,CAD,,OPUS,,2023-01-03
1,63ccbe50ae3e5a2f6f52ef3b,63cc5580bcf3d54f64dec4a5,63cc6340bcf3d54f64dec4a7,3.25,2023-01-02T22:46:11.354Z,expense,CAD,,Tim Hortons,,2023-01-02
2,63ccbeb6ae3e5a2f6f52ef3c,63cc5580bcf3d54f64dec4a5,63cc6407bcf3d54f64dec4ab,14.2,2023-01-01T22:46:11.354Z,expense,CAD,,Multi Vitamins,,2023-01-01
3,63ccbf81ae3e5a2f6f52ef3d,63cc5580bcf3d54f64dec4a5,63cc6340bcf3d54f64dec4a7,50,2023-01-05T22:46:11.354Z,expense,CAD,,Burgundy Lion,,2023-01-05
4,63ccc304ae3e5a2f6f52ef3e,63cc5580bcf3d54f64dec4a5,63cc4501bcf3d54f64dec48d,28.8,2023-01-06T22:46:11.354Z,expense,CAD,,Walmart,,2023-01-06

In [20]:
mapping = {
    "63cc4501bcf3d54f64dec48d":"Home and groceries",
    "63cc6340bcf3d54f64dec4a7":"Social Life",
    "63cc6391bcf3d54f64dec4a8":"Travel",
    "63cc639bbcf3d54f64dec4a9":"Rent & Utilities",
    "63cc63f8bcf3d54f64dec4aa":"Subscriptions",
    "63cc6407bcf3d54f64dec4ab":"Health",
    "\t63cc6407bcf3d54f64dec4ab":"Health",
    "63cc6419bcf3d54f64dec4ac":"Apparel & Accesories",
    "63cc6436bcf3d54f64dec4ad":"Others"
}

In [21]:
#df["category"] = df["category_id"].map(lambda x:mapping[x])

KeyError: ignored

In [22]:
df_list = [d for _, d in df.groupby(['user_id'])]

In [27]:
import pandas as pd
import matplotlib.pyplot as plt

# Read dataset into a pandas dataframe
#df['created_at'] = pd.to_datetime(df['created_at'], errors='coerce')

# Total expenses by category
expenses_by_category = df.groupby('category_id')['amount'].sum()
print(expenses_by_category)

# Popular items
popular_items = df.groupby('note')['note'].count()
print(popular_items)

# Expense trends over time
expenses_over_time = df.groupby(df['ts'].dt.to_period('M')).sum()
print(expenses_over_time)

# Category breakdown by item
category_breakdown = df.groupby(['category_id', 'note']).size().reset_index(name='counts')
print(category_breakdown)

# Average expense by category
average_expense = df.groupby('category_id')['amount'].mean()
print(average_expense)

# Expense distribution by category
expense_distribution = df.groupby('category_id')['amount'].sum() / df['amount'].sum()
print(expense_distribution)

# Visualization of expenses by category
expenses_by_category.plot(kind='bar', color='green')
plt.xlabel('Category')
plt.ylabel('Expense')
plt.title('Expenses by Category')
plt.show()

# Visualization of expense trends over time
expenses_over_time.plot(kind='line', color='blue')
plt.xlabel('Timestamp')
plt.ylabel('Expense')
plt.title('Expense Trends Over Time')
plt.show()

# Visualization of expense distribution by category
expense_distribution.plot(kind='pie', autopct='%1.1f%%', startangle=90)
plt.title('Expense Distribution by Category')
plt.show()

category_id
63cc4501bcf3d54f64dec48d                                         108.8
63cc6340bcf3d54f64dec4a7                                        161.48
63cc6391bcf3d54f64dec4a8                                          86.5
63cc639bbcf3d54f64dec4a9                                           105
63cc63f8bcf3d54f64dec4aa                                         23.25
63cc6407bcf3d54f64dec4ab                                          28.2
63cc6419bcf3d54f64dec4ac                                         130.6
63cc6436bcf3d54f64dec4ad                                            20
\t63cc6407bcf3d54f64dec4ab                                          16
63cc4501bcf3d54f64dec48d                                  4.844.22.724
63cc6340bcf3d54f64dec4a7      8.45734.62.36.36.34.3363.53.7103.94.12.9
63cc6391bcf3d54f64dec4a8                                    11.4562319
63cc639bbcf3d54f64dec4a9                                       4003434
63cc63f8bcf3d54f64dec4aa                                          3556
63cc6407bcf3d54f64dec4ab                                            12
Name: amount, dtype: object
note
Bathroom Cleaner    1
Beers               1
Bell Wifi           1
Bread               1
Burgundy Lion       1
Chairs              1
Eggs                1
Fido Bill           1
Flight              1
Flowers             1
Hotstar             1
Hudson Bay          1
Hydro               1
Ice Hotel           1
Ice Skating         1
Medicines           1
Milk                1
Multi Vitamins      1
Netflix             1
Netflix!            1
Nike                1
OPUS                2
Pharmaprix          1
Pizza               2
Provigo             1
Rent                1
Restaurant          1
SAQ                 1
Snacks              1
Subway              1
TIm Hortans         1
Tim Hortans         6
Tim Hortons         3
Uber                3
Vitamins            1
Walmart             1
Whisky              1
Youtube Music       1
Name: note, dtype: int64
                                                created_at  \
ts
2023-01  2023-01-03T22:46:11.354Z2023-01-02T22:46:11.35...

                                                      type  \
ts
2023-01  expenseexpenseexpenseexpenseexpenseexpenseexpe...

                                                  currency image  \
ts
2023-01  CADCADCADCADCADCADCADCADCADCADCADCADCADCADCADC...

                                                      note location
ts
2023-01  OPUSTim HortonsMulti VitaminsBurgundy LionWalm...
                   category_id              note  counts
0     63cc4501bcf3d54f64dec48d           Provigo       1
1     63cc4501bcf3d54f64dec48d           Walmart       1
2     63cc6340bcf3d54f64dec4a7     Burgundy Lion       1
3     63cc6340bcf3d54f64dec4a7         Ice Hotel       1
4     63cc6340bcf3d54f64dec4a7               SAQ       1
5     63cc6340bcf3d54f64dec4a7       Tim Hortons       2
6     63cc6391bcf3d54f64dec4a8            Flight       1
7     63cc6391bcf3d54f64dec4a8              OPUS       1
8     63cc639bbcf3d54f64dec4a9         Bell Wifi       1
9     63cc639bbcf3d54f64dec4a9         Fido Bill       1
10    63cc63f8bcf3d54f64dec4aa          Netflix!       1
11    63cc63f8bcf3d54f64dec4aa     Youtube Music       1
12    63cc6407bcf3d54f64dec4ab    Multi Vitamins       1
13    63cc6407bcf3d54f64dec4ab        Pharmaprix       1
14    63cc6419bcf3d54f64dec4ac        Hudson Bay       1
15    63cc6419bcf3d54f64dec4ac              Nike       1
16    63cc6436bcf3d54f64dec4ad           Flowers       1
17  \t63cc6407bcf3d54f64dec4ab          Vitamins       1
18    63cc4501bcf3d54f64dec48d  Bathroom Cleaner       1
19    63cc4501bcf3d54f64dec48d             Bread       1
20    63cc4501bcf3d54f64dec48d              Eggs       1
21    63cc4501bcf3d54f64dec48d              Milk       1
22    63cc4501bcf3d54f64dec48d            Snacks       1
23    63cc6340bcf3d54f64dec4a7             Beers       1
24    63cc6340bcf3d54f64dec4a7       Ice Skating       1
25    63cc6340bcf3d54f64dec4a7             Pizza       2
26    63cc6340bcf3d54f64dec4a7        Restaurant       1
27    63cc6340bcf3d54f64dec4a7            Subway       1
28    63cc6340bcf3d54f64dec4a7       TIm Hortans       1
29    63cc6340bcf3d54f64dec4a7       Tim Hortans       6
30    63cc6340bcf3d54f64dec4a7       Tim Hortons       1
31    63cc6340bcf3d54f64dec4a7            Whisky       1
32    63cc6391bcf3d54f64dec4a8              OPUS       1
33    63cc6391bcf3d54f64dec4a8              Uber       3
34    63cc639bbcf3d54f64dec4a9            Chairs       1
35    63cc639bbcf3d54f64dec4a9             Hydro       1
36    63cc639bbcf3d54f64dec4a9              Rent       1
37    63cc63f8bcf3d54f64dec4aa           Hotstar       1
38    63cc63f8bcf3d54f64dec4aa           Netflix       1
39    63cc6407bcf3d54f64dec4ab         Medicines       1

<ipython-input-27-d34bb02ee82e>:16: FutureWarning: Dropping invalid columns in DataFrameGroupBy.add is deprecated. In a future version, a TypeError will be raised. Before calling .add, select only columns which should be valid for the function.
  expenses_over_time = df.groupby(df['ts'].dt.to_period('M')).sum()

TypeError: ignored